.container {
    height: 100%;
    display: flex;
    max-width: 100vmax;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}
app-chatbox {
    max-width: 500px;
}
#temporary{
    margin-left: 100px;
    padding-left: 100px;
    border: 1px solid black;
}
