<div class="container">
    <app-sidebar></app-sidebar>
    <section class="play-area-container">
        <app-play-area #playArea class="play-area" tabindex="0"></app-play-area>
        <button id="increaseSize" (click)="increaseSize()">+</button>
        <button id="decreaseSize" (click)="decreaseSize()">-</button>
        <div *ngIf="!disableExchange()">
            <button id="exchange" mat-raised-button color="primary" type="submit" (click)="onSubmitExchange(selectionType.Rack)">Echanger</button>
            <button id="exchange" mat-raised-button color="primary" type="submit" (click)="onCancelExchange(selectionType.Rack)">Annuler</button>
        </div>
        <div *ngIf="!disableManipulation()">
            <!-- <button mat-raised-button color="primary" type="submit" (click)="onSubmitLeftManipulation()">Vers la gauche</button>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmitRightManipulation()">Vers la droite</button> -->
            <button mat-raised-button color="primary" type="submit" (click)="onCancelManipulation(selectionType.Rack)">Annuler</button>
        </div>
    </section>
    <app-chatbox></app-chatbox>
    <!-- TODO enlever le input et les bouton une fois que le loby est intégré et créé les salles pour nous -->
    <section id="temporary">
        <input type="text" (keyUp.enter)="goInRoom()" placeholder="Nom de la salle" [(ngModel)]="roomName" />
        <br />
        Is Master Player
        <input type="checkbox" [(ngModel)]="isMaster" />
        <br />
        <div *ngFor="let room of roomService.rooms">
            <h1>{{ room.id }}</h1>
            <br />
            <h2>{{ room.settings.mode }}</h2>
            <br />
            <h2>{{ room.settings.timer }}</h2>
        </div>
    </section>

    <app-chatbox #chatbox></app-chatbox>
</div>
