<h2 mat-dialog-title>Profil du joueur virtuel</h2>

<form action="">
    <mat-card>
        <div class="setting" *ngFor="let setting of userSettingsService.settings | keyvalue">
            <mat-card-title>{{ setting.value.setting.settingName }}</mat-card-title>
            <mat-radio-group [name]="setting.key" [(ngModel)]="setting.value.currentChoiceKey">
                <mat-radio-button
                    color="primary"
                    *ngFor="let choice of setting.value.setting.availableChoices"
                    [disabled]="choice.key === 'multiplayer' ? true : choice.disabled"
                    [value]="choice.key"
                    [checked]="setting.value.currentChoiceKey === choice.key"
                    >{{ choice.value }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <section id="footer">
            <button mat-raised-button mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" type="submit" routerLink="game" mat-dialog-close>Jouer</button>
        </section>
    </mat-card>
</form>
