<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />

    <section class="justified">
        <div>
            <div *ngFor="let mode of userSettingsService.settings.mode.setting.availableChoices">
                <button mat-raised-button (click)="chooseMode(mode.key)" [disabled]="mode.disabled">{{ mode.value }}</button>
            </div>
            <button mat-raised-button (click)="playClickSound()" [routerLink]="['/leaderboard']">Meilleurs scores</button>
        </div>
    </section>

    <div class="footer-item">
        <h4 class="team-name">Équipe 201</h4>
        <p>
            <button mat-raised-button (click)="playMainPageSound()">Activer Musique</button>
        </p>
        <p>
            <span>Maxime Laroche</span>, <span>Rakieta Melaine-Elsa Oued</span>, <span>Ahmed Ben Othman</span>, <span>Alex Hua</span>,
            <span>Najme EA</span>, <span>Yazid Ben Saïd</span>
        </p>
    </div>
</div>
