@import url('http://fonts.cdnfonts.com/css/cave-story');

.container {
    min-height: 100vh;
    height: auto;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/09/Scrabble_racks.jpg');
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-Scrabble {
    margin-top: 10%;
    margin-bottom: 5%;
}
.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: greenyellow;
    text-decoration: underline;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: white;
}
.footer-item p :nth-child(odd) {
    color: red;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.start-btn {
    font-family: 'Cave Story', sans-serif;
    font-size: 45pt;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 0.2em gray;
    cursor: pointer;
    margin-bottom: 15px;
}

.start-btn:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.play-button {
    margin-bottom: 10px;
}
.buttons {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
