@import url('http://fonts.cdnfonts.com/css/cave-story');

.container {
    display: flex;
    position: absolute;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

// https://css-tricks.com/perfect-full-page-background-image/
#bg {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
}

// https://css-tricks.com/perfect-full-page-background-image/
#bg img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.logo-Scrabble {
    margin-top: 10%;
    margin-bottom: 5%;
}
.justified {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: greenyellow;
    text-decoration: underline;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: white;
}
.footer-item p :nth-child(odd) {
    color: red;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.start-btn {
    font-family: 'Cave Story', sans-serif;
    font-size: 45pt;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 0.2em gray;
    cursor: pointer;
    margin-bottom: 15px;
}

.start-btn:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.play-button {
    margin-bottom: 10px;
}
.buttons {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
