<div class="container justified">
    <img
        src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Scrabble_United_Kingdom.png"
        width="700"
        height="140"
        alt="Logo Scrabble"
        class="logo-Scrabble"
    />

    <section class="buttons">
        <button (click)="openCreateRoomDialog()" class="start-btn">CREER UNE PARTIE</button>
        <button (click)="openJoinRoomDialog()" class="start-btn">JOINDRE UN ROOM</button>
        <button (click)="playClickSound()" [routerLink]="['/leaderboard']" class="start-btn">MEILLEURES SCORES</button>
    </section>

    <div class="footer-item">
        <h4 class="team-name">Équipe 201</h4>
        <!-- <p>
            <button mat-raised-button (click)="playMainPageSound()">Activer Musique</button>
        </p> -->
        <p>
            <span>Maxime Laroche</span>, <span>Rakieta Melaine-Elsa Oued</span>, <span>Ahmed Ben Othman</span>, <span>Alex Hua</span>,
            <span>Najme EA</span>, <span>Yazid Ben Saïd</span>
        </p>
    </div>
</div>
