<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <section id="server-message">
        <p>Petit message du serveur : {{ message.getValue() }}</p>
        <div class="justified">
            <button class="button">Scrabble classique</button>
            <button class="button">Scrabble LOG2990</button>
            <button class="button">Meilleurs scores</button>
        </div>
    </section>
    <app-player-mode></app-player-mode>
    

    <div class="footer-item">
        <h4 class="team-name">Équipe 201</h4>
        <p>
            <span>Coéquipier #1</span>, <span>Coéquipier #2</span>, <span>Coéquipier #3</span>, <span>Coéquipier #4</span>,
            <span>Coéquipier #5</span>, <span>Coéquipier #6</span>
        </p>
    </div>
</div>
