mat-card {
    width: 250px;
}
mat-card mat-card {
    margin-top: 1em;
    justify-content: space-between;

    width: 200px;
}
.activePlayer .time {
    color: red;
}

.goalsTitle {
    justify-content: space-between;
    font-size: 20px;
}

.goalsContent {
    font-weight: bolder;
    border-style: dotted;
}

.goalsPoints {
    font-style: oblique;
    font-weight: 500;
}

.goalsDescription {
    font-style: oblique;
    font-weight: bolder;
    color: dodgerblue;
}

.completedGoal {
    color: green;
}

.uncompletedGoal {
    color: black;
}
