mat-card {
    width: 250px;
}
mat-card mat-card {
    margin-top: 1em;
    justify-content: space-between;

    width: 200px;
}
.activePlayer .time {
    color: red;
}

.dictionnaire {
    margin-bottom: 50px;
}

.mat-label {
    margin-top: 30px;
}
