<mat-card id="summary">
    <mat-card-title>Partie {{ numPlayers }}</mat-card-title>
    <mat-card-title-group>
        <mat-card-subtitle>Mode {{ mode }}</mat-card-subtitle>
        <mat-card-subtitle>Temps par tours {{ timer }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>Il y a {{ nbLettersReserve }} lettres restantes dans la réserve</mat-card-content>

    <mat-card id="me" [ngClass]="personIsActive ? 'activePlayer' : ''">
        <mat-card-title>{{ userSettingsService.nameOption.userChoice }}</mat-card-title>
        <mat-card-content>Nombre de points: {{ placeService.points }}</mat-card-content>
        <mat-card-content *ngIf="personIsActive">
            Votre tour termine dans:
            <strong class="time"> {{ timerService.counter.min }}m{{ timerService.counter.seconds }}s </strong>
        </mat-card-content>
        <mat-card-content *ngIf="rackService.rackLetters.length < 7"
            >Il y a {{ rackService.rackLetters.length }} lettres dans votre chevalet</mat-card-content
        >
    </mat-card>

    <mat-card id="otherPlayer" [ngClass]="personIsActive ? '' : 'activePlayer'">
        <mat-card-title>{{ userSettingsService.getComputerName() }}</mat-card-title>
        <mat-card-subtitle>Niveau {{ computerLevel }}</mat-card-subtitle>
        <mat-card-content>Nombre de points: </mat-card-content>
        <mat-card-content *ngIf="!personIsActive">
            Le tour de votre opposant se termine dans au plus:
            <strong class="time"> {{ timerService.counter.min }}m{{ timerService.counter.seconds }}s </strong>
        </mat-card-content>
    </mat-card>
</mat-card>
