<mat-card id="summary">
    <mat-card-title>Partie {{ numPlayers }}</mat-card-title>
    <mat-card-title-group>
        <mat-card-subtitle>Mode {{ mode }}</mat-card-subtitle>
        <mat-card-subtitle>Temps par tours {{ timer }}</mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content>Il y a {{ nbLettersReserve }} lettres restantes dans la réserve</mat-card-content>
    <mat-card class="goals">
        <mat-card-title class="goalsTitle">Objectifs publiques: </mat-card-title>
        <mat-card-content [style]="this.goalService.completedGoalStyle(goal)" class="goalsContent" *ngFor="let goal of publicGoals">
            {{ goal.description }}
            <div class="goalsPoints">Pointage: {{ goal.bonus }}</div>
            <div *ngIf="goal.complete">Completé par {{ goal.completedBy?.name }}!</div>
        </mat-card-content>
    </mat-card>

    <mat-card
        *ngFor="let player of gameService.players; let i = index"
        [id]="i === playerIndex.realPlayer ? 'me' : 'otherPlayer'"
        [ngClass]="gameService.currentTurn === i ? 'activePlayer' : ''"
    >
        <mat-card-title>{{ player.name }}</mat-card-title>

        <mat-card-title class="goalsTitle">
            <div *ngIf="i === playerIndex.realPlayer">Objectif privé:</div>
        </mat-card-title>
        <mat-card-content
            *ngIf="i === playerIndex.realPlayer || privateGoals[i].complete === true"
            [style]="this.goalService.completedGoalStyle(privateGoals[i])"
            class="goalsContent"
        >
            <div>
                {{ privateGoals[i].description }}
                <div class="goalsPoints">Pointage: {{ privateGoals[i].bonus }}</div>
            </div>
            <div *ngIf="privateGoals[i].complete">Completé !</div>
        </mat-card-content>

        <!--   *ngIf="i === playerIndex.realPlayer || privateGoals[i].complete === true" -->

        <mat-card-content *ngIf="gameService.numPlayers === 'solo' && i === playerIndex.otherPlayer">Niveau {{ computerLevel }}</mat-card-content>
        <mat-card-content>Nombre de points: {{ player.points }}</mat-card-content>
        <mat-card-content *ngIf="i === gameService.currentTurn">
            Temps restant au tour:
            <strong class="time"> {{ timerService.counter.min }}m{{ timerService.counter.seconds }}s </strong>
        </mat-card-content>
        <mat-card-content *ngIf="player.rack.length < 7"> Il y a {{ player.rack.length }} lettres dans votre chevalet </mat-card-content>
        <mat-card-subtitle>{{ player.won }}</mat-card-subtitle>
        <button mat-raised-button *ngIf="player.won" color="warn" routerLink="home">Quitter</button>
    </mat-card>
</mat-card>
