mat-card {
    width: 250px;
}
mat-card mat-card {
    margin-top: 1em;
    justify-content: space-between;

    width: 200px;
}
.activePlayer .time {
    color: red;
}

#publicGoalsTitle {
    justify-content: space-between;
    font-size: 20px;
}

#publicGoalsContent {
    font-style: oblique;
}
