<div><input #myInput type="file" name="dictionary" (change)="selectDictionary($event)" />Ajouter</div>
<br /><br /><br /><br />
<div>
    <table>
        <tr>
            <th>Titre</th>
            <th>Descrition</th>
            <th>Options</th>
        </tr>
        <tr *ngFor="let dictionary of dictionaryService.listDictionaries">
            <td>{{ dictionary.title }}</td>
            <td>{{ dictionary.description }}</td>
            <td>
                <button class='delete' mat-raised-button color="warn" (click)="dictionaryService.deleteDictionary(dictionary.title)">Supprimer</button>
                <button mat-raised-button color="primary" (click)="dictionaryService.download(dictionary.title)">Télécharger</button>
            </td>
        </tr>
    </table>
</div>
