<h2 mat-dialog-title>Veuillez Choisir le nombre de joueurs</h2>

<!-- {{ userSettingsService.settings|json}} -->

<form (keyup)="validateName()" mat-dialog-content aria-details="w">
    <mat-card>
        <div class="setting" *ngFor="let setting of userSettingsService.settings | keyvalue">
            <!-- {{ setting | json }} -->
            <mat-card-title>{{ setting.value.setting.settingName }}</mat-card-title>
            <mat-radio-group (change)="playClickOnButtonAudio()" [name]="setting.key" [(ngModel)]="setting.value.currentChoiceKey">
                <mat-radio-button
                    color="primary"
                    *ngFor="let choice of setting.value.setting.availableChoices"
                    [disabled]="choice.disabled"
                    [value]="choice.key"
                    [checked]="setting.value.currentChoiceKey === choice.key"
                    >{{ choice.value }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <mat-form-field appearance="outline" [color]="error ? 'warn' : 'primary'">
                <mat-label>{{ error ? errorMessage : userSettingsService.nameOption.displayName }}</mat-label>
                <input
                    autocomplete="off"
                    matInput
                    type="text"
                    [id]="userSettingsService.nameOption.key"
                    [name]="userSettingsService.nameOption.key"
                    [placeholder]="userSettingsService.nameOption.displayName"
                    required="true"
                    [(ngModel)]="userSettingsService.nameOption.userChoice"
                    ngDefaultControl
                />
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="isChecked" [ngModelOptions]="{ standalone: true }" (change)="applyRandomMode($event)" ngDefaultControl
                >Mode Bonus
            </mat-checkbox>
            <br />
            {{ this.message }}
        </div>

        <section id="footer">
            <button mat-raised-button mat-dialog-close (click)="playClickOnButtonAudio()">Retour À l'accueil</button>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="error"
                *ngIf="numPlayerChoice()"
                routerLink="waiting"
                mat-dialog-close
                (click)="configureGame()"
            >
                Jouer
            </button>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="error"
                *ngIf="!numPlayerChoice()"
                routerLink="game"
                mat-dialog-close
                (click)="configureGame()"
            >
                Jouer
            </button>
        </section>
    </mat-card>
</form>
