<h2 mat-dialog-title>Veuillez Choisir le nombre de joueurs</h2>

<!-- {{ userSettingsService.settings|json}} -->

<form (keyup)="validateName()" mat-dialog-content aria-details="w">
    <mat-card>
        <div class="setting" *ngFor="let setting of userSettingsService.settings | keyvalue">
            <!-- {{ setting | json }} -->
            <mat-card-title>{{ setting.value.setting.settingName }}</mat-card-title>
            <mat-radio-group [name]="setting.key" [(ngModel)]="setting.value.currentChoiceKey">
                <mat-radio-button
                    color="primary"
                    *ngFor="let choice of setting.value.setting.availableChoices"
                    [disabled]="choice.disabled"
                    [value]="choice.key"
                    [checked]="setting.value.currentChoiceKey === choice.key"
                    >{{ choice.value }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="dictionnaire">
            <mat-card-title>Dictionnaire</mat-card-title>
            <mat-form-field appearance="fill">
                <mat-label>Dictionnaire</mat-label>
                <mat-select [formControl]="userSettingsService.dictionaryControl" required [(ngModel)]="userSettingsService.selectedDictionary">
                    <mat-option>--</mat-option>
                    <mat-option
                        *ngFor="let dictionnaire of userSettingsService.dictionnaires"
                        [value]="dictionnaire"
                        [disabled]="dictionnaire.title === 'Anglais'"
                    >
                        {{ dictionnaire.title }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userSettingsService.dictionaryControl.hasError('required')">Please choose a dictionary</mat-error>
                <mat-hint>{{ userSettingsService.dictionaryControl.value?.description }}</mat-hint>
            </mat-form-field>
            <h3>your selected dictionary is : {{ userSettingsService.selectedDictionary }}</h3>
        </div>
        <div>
            <mat-form-field appearance="outline" [color]="error ? 'warn' : 'primary'">
                <mat-label>{{ error ? errorMessage : userSettingsService.nameOption.displayName }}</mat-label>
                <input
                    autocomplete="off"
                    matInput
                    type="text"
                    [id]="userSettingsService.nameOption.key"
                    [name]="userSettingsService.nameOption.key"
                    [placeholder]="userSettingsService.nameOption.displayName"
                    required="true"
                    [(ngModel)]="userSettingsService.nameOption.userChoice"
                    ngDefaultControl
                />
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="isChecked" [ngModelOptions]="{ standalone: true }" (change)="applyRandomMode($event)" ngDefaultControl
                >Mode Bonus
            </mat-checkbox>
            <br />
            {{ this.message }}
        </div>

        <section id="footer">
            <button mat-raised-button mat-dialog-close>Retour À l'accueil</button>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="userSettingsService.dictionaryControl.hasError('required') || error"
                *ngIf="numPlayerChoice()"
                routerLink="waiting"
                mat-dialog-close
                (click)="configureGame()"
            >
                Jouer
            </button>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="userSettingsService.dictionaryControl.hasError('required') || error"
                *ngIf="!numPlayerChoice()"
                routerLink="game"
                mat-dialog-close
                (click)="configureGame()"
            >
                Jouer
            </button>
        </section>
    </mat-card>
</form>
