<body>
    <div class="title">Lobby</div>
    <mat-card class="summary">
        <mat-card-title>Partie Multijoueurs </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card id="me">
            <mat-card-title id="name">Nom: {{ name }}</mat-card-title>
            <mat-card-title id="name">Mode: {{ mode.value }}</mat-card-title>
        </mat-card>
    </mat-card>
    <div class="container">
        <mat-card class="rooms">
            <mat-card-title>Rooms Disponibles </mat-card-title>
            <mat-divider></mat-divider>
            <mat-list class="content">
                <mat-list-item *ngFor="let room of roomService.rooms; let i = index" class="room">
                    <!-- sale de l'autre {{ room.settings.mode }}, notre sale {{ mode }} -->
                    <div *ngIf="room.settings.mode === mode.key" class="room-member">
                        <div class="description">
                            <h3 matLine>Nom de l'adversaire : {{ room.name }}</h3>
                            <p matLine class="mode">Mode : {{ room.settings.mode }}</p>
                            <p matLine class="time">Temps : {{ room.settings.timer }} secondes</p>
                        </div>
                        <div class="join-button">
                            <button
                                mat-raised-button
                                color="basic"
                                (click)="goInRoom(room.id, i)"
                                routerLink="game"
                                (click)="playClickOnButtonAudio()"
                                class="game-button green"
                            >
                                Joindre
                            </button>
                        </div>
                    </div>
                    <mat-divider class="room-divider"></mat-divider>
                </mat-list-item>
            </mat-list>
            <mat-card-footer>
                <div class="footer-buttons">
                    <button mat-raised-button mat-dialog-close [routerLink]="['/home']" (click)="playClickOnButtonAudio()" class="game-button red">
                        <span>Quitter</span>
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        [class.hidden]="numbers === 0"
                        [disabled]="numbers === 1"
                        class="game-button"
                        (click)="roomService.joinRandomRoom(); playClickOnButtonAudio()"
                    >
                        Placement aléatoire
                    </button>
                </div>
                <mat-card-subtitle>En attente </mat-card-subtitle>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</body>
