<div id="chat-area">
    <mat-card id="header">
        <mat-card-title> Messages </mat-card-title>
    </mat-card>

    <mat-card id="message-history">
        <div class="from"  *ngFor="let message of messages">

            <mat-card [ngClass]="possibleSenders.me" *ngIf="message.from===possibleSenders.me" color="primary" [innerHTML]="message.body">
            </mat-card>
            <mat-card [ngClass]="possibleSenders.computer" *ngIf="message.from===possibleSenders.computer" color="accent" [innerHTML]="message.body">
                
            </mat-card>
            <mat-card [ngClass]="possibleSenders.otherPlayer" *ngIf="message.from===possibleSenders.otherPlayer" [innerHTML]="message.body">
                
            </mat-card>
        </div>
    </mat-card>
    
    <mat-card id="message-input">
        <form [formGroup]="myForm" (keyup.enter)="onSubmit()" (ngSubmit)="onSubmit()">
                <!-- {{myForm.value | json}} -->
            <div id="textbox-container">

                <mat-form-field appearance="outline">
                    <mat-label>Tapez un message</mat-label>
                    <textarea matInput formControlName="message"></textarea>
                    <mat-error *ngIf="message?.errors?.minlength && message?.touched">
                        Votre message est trop long. 
                    </mat-error>
                    <mat-error *ngIf="message?.errors?.placerPattern && message?.touched">
                        placeer
                    </mat-error>

                </mat-form-field>
            </div>
            <div id="button-container">

                <button type="submit" [disabled]="!myForm.valid" mat-mini-fab color="primary" aria-label="Example icon button with a home icon" >
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </form>
        </mat-card>
</div>
