.input{
    width: 250px;
    height: max-content;
    position: absolute;
    bottom: 2px;
    display: flex;
    flex-direction: row;
}
.header{
    height:20px;
    background-color: lightskyblue;
    padding: 5px auto;
}

.chat-container{
    // position: relative;
    height: 100%;
    width: 250px;
}

.from{
    color: white;
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    border: radius 10px;
}
.me{
    background-color: lightblue;
    margin-left: 30px;
    margin-right: 5px;
}
.him{
    background-color: darkgray;
    margin-right: 30px;
    margin-left: 5px;
}
.computer{
    background-color: red;
    color: white;
    margin-right: 30px;
    margin-left: 5px;
}
button{
    height: min-content;
    width: min-content;
    bottom: 2px;
}
textarea{
    min-height: 20px;
    max-height: 100px;
    resize: auto;
}
