<!-- <div class="chat-container" >
    <div class="header">Chat</div>
    <div class="message-container"></div>

    <div class="input">
        <label for="message">Message</label>
        <input id="message" placeholder="Tapez votre message ou commande ici" />
    </div>
</div> -->
<form [formGroup]="myForm">
    Value: {{ myForm.value | json }}
    <mat-form-field>
        <textarea matInput placehorder="message" formControlName="message" name="message"></textarea>

        <mat-error *ngIf="message?.errors?.minlength">Le message doit être au moins {{ minLength }} caractères. </mat-error>

        <mat-error *ngIf="message?.errors?.maxlength">Le message doit être au maximum {{maxLength}} caractères.</mat-error>
    </mat-form-field>

    <!-- <button mat-raised-button class="material-icons-outlined"
type="submit">Envoyer</button> -->
    <button mat-raised-button [disabled]="myForm.invalid">
        <mat-icon aria-hidden="false" aria-label="send" color="primary">send</mat-icon>
    </button>
</form>
