<div class="goals" *ngIf="isPublic">
    {{ goal.description }}
    <div class="goalsPoints">Pointage: {{ goal.bonus }}</div>
    <div>
        {{ gameService.players[playerIndex.realPlayer].name }}
        <app-goal-progress-bar [goal]="goal" [player]="gameService.players[playerIndex.realPlayer]"></app-goal-progress-bar>
    </div>
    <div>
        {{ gameService.players[playerIndex.otherPlayer].name }}
        <app-goal-progress-bar [goal]="goal" [player]="gameService.players[playerIndex.otherPlayer]"></app-goal-progress-bar>
    </div>

    <div *ngIf="goal.complete">Completé par {{ goal.completedBy?.name }}!</div>
</div>

<div *ngIf="!isPublic">
    {{ goal.description }}
    <div class="goalsPoints">Pointage: {{ goal.bonus }}</div>
    <app-goal-progress-bar [goal]="goal" [player]="player"></app-goal-progress-bar>
    <div *ngIf="goal.complete">Completé !</div>
</div>
