<mat-card>
    <mat-card-title>Ajouter un nom de joueur virtuel</mat-card-title>
    <form (keyup)="validateName()" aria-details="w">
        <mat-form-field appearance="outline" [color]="error ? 'warn' : 'primary'" ngDefaultControl>
            <mat-label innerHTML="Tapez un message">{{ error ? errorMessage :"Entrer le nom du joueur à ajouter"}}</mat-label>
            <input matInput autocomplete="off" [(ngModel)]="name" name="first" [ngModelOptions]="{ standalone: true }" />
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" color="primary" ngDefaultControl> -->
        <!-- <mat-label innerHTML="Tapez un message">Joueur avancé</mat-label> -->
        <mat-checkbox color="primary" [(ngModel)]="isAdvanced" [ngModelOptions]="{ standalone: true }">Joueur avancé</mat-checkbox>
        <!-- </mat-form-field> -->
        <button mat-raised-button type="submit" color="primary" [disabled]="error" (click)="addName()">Ajouter</button>
        <button mat-raised-button color="warn" (click)="nameService.reset()">Réinitialieser les noms par défault</button>
    </form>
</mat-card>

<section>
    <div class="container">
        <mat-card>
            <mat-list class="matCard">
                <mat-card-title class="big-title">Joueurs Débutants</mat-card-title>
                <mat-list-item *ngFor="let name of nameService.beginnerNames">
                    <div *ngIf="name">
                        <p matLine class="small-title">{{ name.name }}</p>
                        <button mat-raised-button color="basic" (click)="nameService.delete(name)">Retirer</button>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
    <div class="container">
        <mat-card>
            <mat-list class="matCard">
                <mat-card-title class="big-title">Joueurs Avancés</mat-card-title>
                <mat-list-item *ngFor="let name of nameService.advancedNames">
                    <div *ngIf="name">
                        <p matLine class="small-title">{{ name.name }}</p>
                        <button mat-raised-button color="basic" (click)="nameService.delete(name)">Retirer</button>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</section>
