<div class="container">
    <br />
    <h1 style="text-align: center">Add new dictionary</h1>
    <div style="text-align: center">

        <div>
            <input #myInput type="file" name="dictionary" (change)="selectDictionary($event)" />
        </div>
        <br /><br /><br />
        <div>
            <input type="submit" (click)="onSubmit()" style="margin-right: 10px; cursor: pointer" />
            <button (click)="onCancel()" style="margin-left: 10px; cursor: pointer">Cancel</button>
        </div>
        <br />
        <br />
    </div>
</div>
