@import url('http://fonts.cdnfonts.com/css/common-pixel');
@import url('http://fonts.cdnfonts.com/css/sunari');
body {
    min-height: 100%;
    height: auto;
    background-color: #19255c;
    height: 170%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    font-family: 'Common Pixel', sans-serif;
    font-size: 130px;
    padding-top: 40px;
    text-align: center;
    color: yellow;
    margin-bottom: 170px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
        1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.rooms mat-card-title {
    text-align: center;
    color: white;
    font-family: 'Carter One', sans-serif;
    font-size: 40px;
    padding-bottom: 40px;
}

.rooms {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
}

:host::ng-deep .rooms {
    border: 55px !important;
    border-radius: 30px !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    height: calc(100vh - 64px);
    overflow: auto;
}

.room h3 {
    color: white;
    font-size: 25px;
}

.room p {
    color: white;
    margin-bottom: 10px;
}
.description {
    flex-direction: column;
    float: left;
    margin-bottom: 20px;
}
.mode {
    font-size: 30px;
}
.room-divider {
    border-top-color: white;
}

.join-button {
    float: right;
}

.room-member button {
    position: absolute;
    right: 10px;
}

mat-card-footer button {
    display: inline-block;
    margin: 10px;
}

.footer {
    position: absolute;
    bottom: 5px;
}
.footer-buttons {
    margin-bottom: 20px;
}

.summary {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.summary mat-card-title {
    text-align: center;
    font-family: 'Sunari', sans-serif;
    font-size: 35px;
    color: yellowgreen;
}

#me {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
#name {
    margin-top: 5px;
    text-align: center;
    font-family: 'Sunari', sans-serif;
    font-size: 25px;
    color: yellowgreen;
}
mat-list-item {
    margin-top: 10px;
    margin-bottom: 20px;
}

mat-card-title-group {
    margin-top: 20px;
}

mat-card mat-card {
    margin-top: 1em;
    justify-content: space-between;
    width: 200px;
}
mat-card-footer mat-card-subtitle {
    color: #fff !important;
    font-family: 'Carter One', sans-serif;
    font-size: 20px;
    text-decoration: none !important;
    outline: none !important;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628,
        0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
    padding-bottom: 5px;
    text-align: center;
}

#divider {
    border-top-color: #800020;
    border-top-width: 4px;
    border-top-style: dashed;
}

.hidden {
    display: none;
}
