#canvas {
    border: 1px solid black;
}

#rack {
    position: relative;
    margin-left: 125px;
    border: 3px solid black;
}

#buttons {
    //position: relative;
    //margin-left: 505px;
    transform: translate(400px, -45px);
    //color: chocolate;
}
